@import '..\..\shared\variables.css';

.puzzle-box {
  background: radial-gradient(circle at center, var(--puzzleInner), var(--puzzleOutter));
  border-radius: 1rem;
  width: 97.5%;
  height: 100%;
  text-align: center;
  box-shadow: .1rem .3rem .25rem .12rem rgba(0, 0, 0, 0.35),
    inset .4dvw .8dvw .8dvw -.7dvw rgba(240, 240, 240, 0.65),
    inset .4dvw .8dvw 1.1dvw -.8dvw rgba(230, 230, 230, 0.55),
    inset -.5dvw -.8dvw .8dvw -.7dvw rgba(40, 40, 40, 0.55);
}
.puzzle-box-animation {
  width: 97.5%;
  height: 100%;
  background: radial-gradient(circle at center, 
    var(--puzzleInner) 0%,
    var(--puzzleOutter) var(--stop),
    var(--puzzleMiddle) calc(var(--stop) + var(--stopChange)),
    var(--puzzleOutter) calc(var(--stop) + (2 * var(--stopChange))),
    var(--puzzleMiddle) calc(var(--stop) + (3 * var(--stopChange))),
    var(--puzzleOutter) calc(var(--stop) + (4 * var(--stopChange))),
    var(--puzzleMiddle) calc(var(--stop) + (5 * var(--stopChange))),
    var(--puzzleOutter));
  border-radius: 1rem;
  text-align: center;
  box-shadow: .08dvw .22dvw .2dvw .1dvw rgba(0, 0, 0, 0.35),
    inset .4dvw .8dvw .8dvw -.7dvw rgba(240, 240, 240, 0.65),
    inset .4dvw .8dvw 1.1dvw -.8dvw rgba(230, 230, 230, 0.55),
    inset -.5dvw -.8dvw .8dvw -.7dvw rgba(40, 40, 40, 0.55);
}
.filtered-rect {
  filter: url(#combined-shadows);
}
.checkBase.transition {
  transform-origin: center;
  transform-box: fill-box;
  transition: transform 0.2s ease-in-out, filter 0.2 ease-in-out;
  transform: scale(.96,.93);
  filter: url(#combined-shadows-transition);
}