:root {
  --body:#749dc8;
  --puzzle-inner:#e5e4e2;
  --puzzle-middle:#b0afae;
  --puzzle-outter:#a09f9e;
  --stop: 0%;
  --stop-change: 7.5%;
  --hex:#0a61c9;
  --dialog-button:#315cf4;
  --dialog-hover:#1434a4;
  --axisFill:#b8b8bf;
  --otherFill:#d7d7db;
  --centerBorder:#0f1042;
  --axisBorder:#818181;
  --otherBorder:#b2b2b2;
  --cursor:#758595;
  --fontLight:#616170;
  --fontDark:#0f1042;
  --fontGreen: #0a8a64;
  --fontBlue: #0000ff;
  --hint:#d99351;
  --offWhite: #fcf7f8;
  --gray: #808080;
  --text-control: 1.6rem;
  --text-dialog: 1.3rem;
  --text-directions: 1rem;
  --text-numbers: 2.4rem;
  --text-buttons: 1rem;
  --text-message: 1.7rem;
  --base-font: 20px;
}