@import '.\shared\variables.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
}

html {
  height: 100%;
  background-color: #ffffff;
  font-size: var(--base-font);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--body, #ffffff);
  font-family: Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Game Display */
.game-container {
  position: relative;
  background-color: var(--body);
  display: grid;
  place-items: center;
  width: var(--gameSize);
  height: var(--gameSize);
  margin-top: calc(var(--gameSize) / 15);
  grid-template-columns: var(--gameSize);
  grid-template-rows: calc(var(--gameSize) * .09) 
    calc(var(--gameSize) * .8) calc(var(--gameSize) * .11);
}

.cursor {
  animation: fade-in .2s ease-out, blink .6s ease-in-out .2s infinite alternate;
}

@keyframes fade-in {
  from {fill: var(--fillColor);}
  to {fill: var(--cursor);}
}
@keyframes blink {
  from {fill: var(--cursor);}
  to {fill: var(--offWhite);}
}