button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}